test/
pouca loca/
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent.apdisk
.DS_Store
.AppleDouble
.LSOverride
